.cart-information{
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: left;
}
.orderReviewButton{
    padding: 5px 10px;
    font-weight: bold;
    margin: 10px 0;
    font-size: 15px;
    background-color: orange;
    color: black;
    border-radius: 5px;
    border: none;
}