.product-info{
    text-align: left;
}
.review-item{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    border-bottom: 2px solid orange;
    padding: 10px;
}
.main-btn{
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    background-color: orange;
    border-radius: 5px;
    margin: 20px 0;
}